.customFontSize {
    font-size: 16px !important;
}

.resetBGK {
    background-image: none;
    background-color: #F3F3F3;
    text-shadow: none;
}

.buttonContainer{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.borderTop {
    border-top-color : #D4D4D4;
}

.marginBottom {
    margin-bottom: 30px;
}

.error {
    margin-top: 24px;
    color: red;
}

.spinnerButton {
    height: 32px;
    width: 77px;
    position: relative;
    background-color: #0070d2;
    border-radius: .25rem;
}

.slds-spinner_container {
    background-color: transparent;
}